{% extends "base.html" %}
{% load static %}
{% load account_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'hackathon/css/hackathon.css' %}" />
{% endblock %}

{% block content %}
<section class="h-100">
    {% if hackathons %}
        <h2 class="p-orange text-center mb-4">Hackathons</h2>
        {% for hackathon in hackathons %}
            {% if hackathon.status != 'draft' or request.user == hackathon.created_by %}
                {% include 'hackathon/includes/hackathon_card.html' %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h2 class="text-center">There aren't any Hackathons at the moment!</h2>
    {% endif %}
    <!-- Pagination using Django's paginator. Options are disabled or hidden if unavailable. -->
    <nav aria-label="Hackathon Page Navigation">
        {% include 'hackathon/includes/paginator.html' with page_obj=hackathons %}
    </nav>
</section>
{% endblock %}
