{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body create-project-card">
                <div class="card-title">
                    <h4>GitHub Stats for Team</h4>
                </div>
                <div class="card-text">

                    {% if spider_charts %}
                    {% for chart in spider_charts %}
                        <h5>{{chart.participant_name}}</h5>
                        {{chart.chart_html|safe}}
                    {% endfor%}
                    {% else %}
                    No stats available at the moment
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
